<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="petmapper">
	<!-- Add SQL statements -->

	<select id="getAllDatas" resultType="PetDVO">
		SELECT SELLBRAND as sellbrand, SELLKINDS as
		sellkinds, SELLDATA as selldata,
		SELLINVEN as sellinven, SELLPRICE as sellprice, SELLINFO as sellinfo,
		SELLIMAGE as sellimage, SELLCREATE as sellcreate, BKSR as bksr,
		SELLUSR as sellusr
		FROM selllist
	</select>
	
	<insert id="create" parameterType="java.util.Map"
		useGeneratedKeys="true" keyProperty="id">
		insert into selllist (sellbrand, sellkinds, selldata, sellcreate, sellprice)
		values (#{sellbrand}, #{sellkinds}, #{selldata}, #{sellcreate}, #{sellprice})
	</insert>

	
</mapper>
